EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
EXPO_PUBLIC_SENTRY_DSN=https://examplePublicKey@o0.ingest.sentry.io/0
EXPO_PUBLIC_PRIVACY_URL=
EXPO_PUBLIC_IMPRINT_URL=
SENTRY_ORG=replace-with-sentry-org
SENTRY_PROJECT=wine-scanner
